.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 25px;
}

h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

label {
  margin-top: 1%;
}

header {
 color: #170a45;
 text-align: center;
 margin-bottom: 30px;
}

.card {
  opacity: 0.90;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
}

form {
  text-align: center;
  align-items: center;
}

.form-styling {
  border: solid;
}

form input {
  margin: 15px;
  padding: 12px 20px;
  text-align: center;
}

.continue-button {
  margin-bottom: 15px;
  margin-top: 15px;
}

button {
  background-color: #170a45;
  margin-bottom: 15px;
}

li {
  text-align: left;
}

.instructions {
  background-color: white;
  opacity: 0.90;
  padding-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.instruction-boxes {
  border: solid;
  margin: 10px 10px 10px 10px;
}

.instruction-p {
  margin-left: 10px;
  margin-right: 10px;
}

.battle-page {
  background-color: white;
  opacity: 0.90;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.player-img {
  transform: scaleX(-1);
}

.hud-images {
  align-items: center;
}

footer {
  margin-top: 30%;
  height: 200px;
  color: #170a45;
}

/* Mobile responsiveness */

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
}